
html{
  font-family: 'Spartan', sans-serif;
  width: 100%;
  height: 100%;
}
body{
  background-color: hsl(222, 26%, 31%);
}


.calculator{
  height: 300px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: hsl(222, 26%, 31%);
}

.other-p,h3,button{
  margin: 0;
  color: white;
}
.other-p{
  font-size: 8px
}
p{
  margin:0;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head h3{
  font-size: 15px;
}
.toggle-div{
  display: flex;
  grid-gap: 20px;
  align-items: center;
}
.p-button{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10px;
}
.p-button p{
  position: absolute;
  top: -6px;
  font-size: 6px;
}
span{
 font-size: 5px;
 padding-left: 1px;
 color: white;
}
.span-div{
  padding-left: 1px;
}
.theme-button{
  height: 8px;
  width: 26px;
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
  position: relative;
  z-index: 0;
}
.theme-ball{
  width: 5px;
  height: 5px;
  background-color: hsl(6, 63%, 50%);
  border-radius: 100px;
  position: absolute;
  left: 1.2px;
  bottom: 1.5px;
  z-index: 1;
  transition: 0.2s;
}
/* NUMB TEXT AREA */
.numb-text{
  height: 50px;
  background-color: hsl(224, 36%, 15%);
  margin-top: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
  text-align: right;
  background-color: hsl(224, 36%, 15%);
  color: white;
  border: none;
  padding-right: 5px;
  font-weight: bold;
}
.numbers{
  height: 200px;
  margin-top: 10px;
  background-color: hsl(223, 31%, 20%);
  border-radius: 3px;
}
.all-numb{
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  grid-row-gap :10px;
  grid-column-gap: 10px;
  justify-content: center;
  padding-top: 10px;
}
.all-numb div{
  padding: 4px 12px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.no,.operation{
  background-color: hsl(30, 25%, 89%);
}
.item1,.dell-div{
  color: white;
  background-color: hsl(225, 21%, 49%);
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2{
  background-color: hsl(6, 63%, 50%);
color: white;
  grid-column-start: 3;
  grid-column-end: 5;
}
.dell,.reset{
  font-size:8px;
}

